section.section.teachers#teachers-anchor 
	.container 
		.section__head.teachers__head
			h2.section__title Специалисты станут надежными наставниками<br> для родителей и друзьями для детей
	.teachers__wrap 
		.teachers__adv 
			.teachers__plain
				img(src='img/plain.svg' alt='')
			.container
				.teachers__adv-item
					.teachers__adv-head 
						img(src='img/i4.svg' alt='')
						h4.teachers__adv-title Отбираем 1 сотрудника из 60 кандидатов 
					p Ищем людей, искренне горящих своей профессией. Каждый кандидат проходит 5 этапов отбора
				.teachers__adv-item
					.teachers__adv-head 
						img(src='img/i4.svg' alt='')
						h4.teachers__adv-title Обязательное повышение квалификации
					p Обучения и аттестации, участие в конференциях, обмен опытом с коллегами
				.teachers__adv-item
					.teachers__adv-head 
						img(src='img/i4.svg' alt='')
						h4.teachers__adv-title Ключевая ценность: заботливое отношение к детям
					p Принимаем на работу людей, искренне любящих детей, и безгранично помогаем им раскрывать таланты среди единомышленников
	.container
		.swiper.swiper-teachers 
			.swiper-wrapper 
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/_Q3A9286о.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Светлана Пятницкая
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Руководитель методического отдела Организатор методист Психолог в саду полного дня
							.swiper-teachers__item-text-block 
								span Опыт 18 лет:
								p Воспитатель логопедической группы Педагог психолог группы детей с ЗПР Организатор-методист Руководитель методического отдела
							.swiper-teachers__item-text-block 
								span Образование:
								p Организатор-методист дошкольного образования Психологическая подготовка родителей к воспитанию детей
							.swiper-teachers__item-text-block 
								span Курсы повышения квалификации:
								ul 
									li Психологическое консультирование: теория и практика - 250ч
									li Детский практический психолог
									li STEM-образование детей дошкольного возраста
									li Игровая терапия детско-родительских отношений
									li Методика развития взаимодействия детей и взрослых в ситуациях встречи  <br>с препятствием
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/IMG_4633.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Сергей Юрчик
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Инструктор по физической культуре, спортивный тренер
							.swiper-teachers__item-text-block 
								span Опыт 11 лет
								p В Государственных садах Беларуси и России <br> И частных детских садах: Smile school, <br> Sun school, My Sadik, Prokids, Бэби-клуб
							.swiper-teachers__item-text-block 
								span Образование:
								p ГрГу имени Янки Купалы - физическая культура,  организатор физкультурно-оздоровительной работы
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/_Q3A9609о.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Анастасия Макарченкова 
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Педагог клуба
							.swiper-teachers__item-text-block 
								span Опыт 7 лет
							.swiper-teachers__item-text-block 
								span Образование:
								p Московский педагогический государственный университет: практическая психология<br> и образовательные технологии

				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/_Q3A8861о.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title  Анна Сидорова
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Управляющая образовательного пространства
							.swiper-teachers__item-text-block 
								span Опыт 9 лет
								p 
							.swiper-teachers__item-text-block 
								span Образование:
								p ВЗФЭИ - Экономика и финансы
				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/Q45A6024.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title  Маргарита Манукян
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Педагог детского сада

				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/_Q3A9629о.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Олег Ленков
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Основатель и идейный вдохновитель образовательного пространства 

				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/IMG_4940.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Алена Шилова
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Педагог детского сада

				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/_Q3A0068о.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title  Елена Давыдова
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Педагог клуба


				.swiper-slide.swiper-teachers__item
					img.swiper-teachers__item-pic(src='img/teachers-large/1Q3A5317о.webp' alt='')
					.swiper-teachers__item-content(data-aos="fade-up") 
						h4.swiper-teachers__item-title Иван Киселев 
						.swiper-teachers__item-text 
							.swiper-teachers__item-text-title Педагог по шахматам




			.swiper-pagination
			.swiper-nav
				.swiper-button-prev 
				.swiper-button-next